.Side-bar
  .Side-bar__user-name
    .Side-bar__user-name__content
      .Side-bar__user-name__content__left-content
        加藤
      .Side-bar__user-name__content__right-content
        = link_to "#", class: "right-content__edit-icon--edit" do
          = icon('far', 'edit')
        = link_to "#", class: "right-content__cog-icon--cog" do
          = icon('fas', 'cog')
  .Side-bar__group-list
    .Side-bar__group-list__content
      .Side-bar__group-list__content__group-name
        techcamp
      .Side-bar__group-list__content__group-message
        まだメッセージがありません
    .Side-bar__group-list__content
      .Side-bar__group-list__content__group-name
        techcamp
      .Side-bar__group-list__content__group-message
        まだメッセージがありません
    .Side-bar__group-list__content
      .Side-bar__group-list__content__group-name
        techcamp
      .Side-bar__group-list__content__group-message
        まだメッセージがありません
    